// ----------------------------
// Основные цвета
// ----------------------------
// http://chir.ag/projects/name-that-color/
$color-laser: #d0af77;

$font: 'Source Sans Pro', sans-serif;

$padding: 4.16vw;
$padding-tablet: 7.81vw;

$default-box-shadow: 0 0.16rem 0.16rem 0 rgba(0, 0, 0, 0.05);
$button-box-shadow: 0 0.9rem 0.9rem 0 rgba(0, 0, 0, 0.05);
$default-text-shadow-color: rgba(0, 0, 0, 0.17);
